*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    height: 200px;
    background-color: rgb(238, 197, 85);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botones{
    display: flex;
    flex-direction: row;

}

.persona{
    color: rgb(69, 12, 56);
    background-color: fuchsia;
}

body{
    background-color: rgb(135, 193, 102);
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    gap: 70px;
    border: 3px solid red;
}

.container .item{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.datos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
}

.datos .inputs{
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.enviar{
    padding: 15px 23px;
    background-color:rgb(54, 83, 163);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.sueldoLiquido{
    padding: 15px 23px;
    background-color:rgb(22, 117, 79);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    margin-left: 50px;
    margin-top: 8px;
}

.btn-volver{
    padding: 15px 23px;
    background-color:rgb(22, 47, 117);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    margin-right: 600px;
}

.datos p{
    font-size: 20px;
}

.resultado{
    font-size: 20px;
}
